<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-dingtalk" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-dingtalk</name>
    <preference name="DINGTALKAPPID" />

    <js-module name="CDVDingTalk" src="www/CDVDingTalk.js">
        <clobbers target="CDVDingTalk"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVDingTalk">
                <param name="ios-package" value="CDVDingTalk"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="DINGTALKAPPID" value="$DINGTALKAPPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>dingtalk</string>
                <string>dingtalk-open</string>
                <string>dingtalk-sso</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>dingtalk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$DINGTALKAPPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <header-file src="src/ios/CDVDingTalk.h"/>
        <source-file src="src/ios/CDVDingTalk.m"/>
        <framework src="src/ios/DTShareKit.framework" custom="true" />
    </platform>
</plugin>